<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <queries>
        <intent>
            <action android:name="com.anezium.rokidbus.action.HUB" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Otps">

        <activity
            android:name=".OtpSettingsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".OtpNotificationListener"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".OtpPluginService"
            android:exported="true"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="glasses-session" />
            <intent-filter>
                <action android:name="com.anezium.rokidbus.action.PLUGIN" />
            </intent-filter>
            <meta-data
                android:name="com.anezium.rokidbus.plugin.ID"
                android:value="otps" />
            <meta-data
                android:name="com.anezium.rokidbus.plugin.DISPLAY_NAME"
                android:value="OTPs" />
            <meta-data
                android:name="com.anezium.rokidbus.plugin.ICON"
                android:value="otps-key" />
            <meta-data
                android:name="com.anezium.rokidbus.plugin.ICON_DRAWABLE"
                android:resource="@drawable/nexus_glyph_otps" />
            <meta-data
                android:name="com.anezium.rokidbus.plugin.GLYPHS"
                android:resource="@array/nexus_glyphs" />
            <meta-data
                android:name="com.anezium.rokidbus.plugin.API_VERSION"
                android:value="3" />
            <meta-data
                android:name="com.anezium.rokidbus.plugin.CAPABILITIES"
                android:value="surfaces" />
            <meta-data
                android:name="com.anezium.rokidbus.plugin.RECEIVE_PREFIXES"
                android:value="/plugin/otps,/system/plugin" />
            <meta-data
                android:name="com.anezium.rokidbus.plugin.SETTINGS_ACTIVITY"
                android:value=".OtpSettingsActivity" />
            <meta-data
                android:name="com.anezium.rokidbus.plugin.LAUNCHABLE"
                android:value="true" />
        </service>
    </application>
</manifest>
